body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
} 

 #root {
    height: 100vh;
    display: flex;
    flex-direction: column; 
        /* --col1: yellow;  */
    
 }

 .mainhead1 {
    -webkit-text-stroke: 1px var(--col1); 
    /* color: transparent;  */
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 0 0 5px rgba(129, 255, 71, 0.818);
}

::-webkit-scrollbar{
 width: 4px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--col1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}



